<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Hospital.HMS.DoctorTest.NavigateFromDrToAdmin"/>
      <class name="com.Hospital.HMS.DoctorTest.AddMedicalHistory"/>
      <class name="com.Hospital.HMS.DoctorTest.UpdatePatientDetails"/>
      <class name="com.Hospital.HMS.DoctorTest.SearchPatient"/>
      <class name="com.Hospital.HMS.DoctorTest.Createpatients"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
